<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>CRUD</title>
    <style>
        html{
            height: 100%;
        }
        body {
            
            font-family: 'Arial', sans-serif;
            background: linear-gradient(#0b121f, #0b1d33);	
        }
table {
    border: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
   
    border: 1px solid black;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid black;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid black;
      display: block;
      font-size: .8em;
      text-align: left;
    }
    
    table td::before {
      
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
     
    </style>
</head>
<body>
    <div class="container" style="margin-top:5%; margin-left:15%;">
    <a href="/curd/new" class="btn btn-success">Add New Comment</a>
    <a href="/" class="btn ">Home</a>


<%comment.forEach(function(comment){%>
    <div style="overflow-x:auto;">
    <table style="color: white;" >
        <tr>
            <td><h2><%=comment.text%></h2></td>
            <td><h2><%=comment.date%></h2></td>
            <td>
                <a href="/curd/<%=comment._id%>/edit" class="btn  btn-primary">Edit</a>
            </td>
            <td><form id="delete-form2" action="/curd/<%=comment._id%>?_method=DELETE" method="post">
                <input type="submit" value="Delete" class="btn btn-warning ">
                </form></td>
        </tr>
    </table>

</div>
    
    <%})%>
</div>

</body>
</html>